---
http_interactions:
- request:
    method: get
    uri: http://anonymouse.org/cgi-bin/anon-www.cgi/https://app.imdb.com/title/maindetails?api=v1&apiKey=2wex6aeu6a8q9e49k7sfvufd6rhh0n&apiPolicy=app1_1&appid=iphone1_1&locale=en_US&sig=app1-2b46b096bd2bfafabdb3a1d4bcf66c6652ba1bef&tconst=tt0031381&timestamp=1452574922
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Proxy-Connection:
      - close
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"exp":1452578527,"@meta":{"serverTimeMs":52,"requestId":"0HMKYDJS9RBADB27YHPW"},"data":{"photos":[{"link":"http://www.imdb.com/rg/appphoto/link/media/rm4162838784/tt0031381","image":{"width":1487,"url":"http://ia.media-imdb.com/images/M/MV5BODcyOWRmNmMtMDkxNi00ZjBjLTllNmUtZGY3ZDJkZTY0NzlmXkEyXkFqcGdeQXVyMDMxMjQwMw@@._V1_.jpg","height":1944}},{"link":"http://www.imdb.com/rg/appphoto/link/media/rm865723904/tt0031381","image":{"width":1597,"url":"http://ia.media-imdb.com/images/M/MV5BNGM2ZjA0NTgtNmIzYS00NTc4LWI4NjctZWY1ZTk2MjlhZDdkXkEyXkFqcGdeQXVyMDI2NDg0NQ@@._V1_.jpg","height":2000}},{"link":"http://www.imdb.com/rg/appphoto/link/media/rm1100912640/tt0031381","image":{"width":311,"url":"http://ia.media-imdb.com/images/M/MV5BMTQwMTE2OTM4NF5BMl5BanBnXkFtZTYwMDE0NTI2._V1_.jpg","height":450}},{"link":"http://www.imdb.com/rg/appphoto/link/media/rm916055552/tt0031381","image":{"width":1190,"url":"http://ia.media-imdb.com/images/M/MV5BZDJhNjBhYjYtMzQ4OC00MjU4LTg4ZjctZmUzMzI3NGMwNTU0XkEyXkFqcGdeQXVyMDI2NDg0NQ@@._V1_.jpg","height":1492}},{"link":"http://www.imdb.com/rg/appphoto/link/media/rm1564391680/tt0031381","image":{"width":2048,"url":"http://ia.media-imdb.com/images/M/MV5BMjE3MzU3NjE2Nl5BMl5BanBnXkFtZTcwNjM5MDkzNQ@@._V1_.jpg","height":1071}},{"link":"http://www.imdb.com/rg/appphoto/link/media/rm1480505600/tt0031381","image":{"width":2048,"url":"http://ia.media-imdb.com/images/M/MV5BMTM2NjY4NjQ0NF5BMl5BanBnXkFtZTcwMTQ5MDkzNQ@@._V1_.jpg","height":1071}}],"directors_summary":[{"name":{"nconst":"nm0281808","name":"Victor
        Fleming"}}],"user_comment":{"user_rating":10,"status":"G","date":"2000-12-13","user_name":"mikazuki","summary":"A
        Classic in the History of Movie-making.","user_score":173,"text":"\nEvery
        time I watch this film, and I''ve seen it more times than I can remember,
        I''m always astonished by the freshness of the story, the power of the emotions
        it conveys and the beautiful, detailed images of a time long gone. That this
        film was made in the 1930''s is almost incomprehensible to me. The challenges
        that had to be overcome in order to bring it to life must have been monumental.
        But come to life it did, and still does! A triumph of film-making ingenuity
        and genius, that will live on for many generations to come.","user_location":"Magarathea","user_score_count":256},"certificate":{"certificate":"TV-PG","attr":"(TV
        rating)"},"has":["more_cast","trivia","goofs","quotes","more_directors","more_writers","more_plot","parentalguide","synopsis","user_comments","external_reviews","photos"],"writers_summary":[{"name":{"nconst":"nm0593565","name":"Margaret
        Mitchell"},"attr":"(story)"},{"name":{"nconst":"nm0397608","name":"Sidney
        Howard"},"attr":"(screenplay)"}],"rating":8.2,"num_votes":203180,"tconst":"tt0031381","genres":["Drama","Romance","War"],"best_plot":{"outline":"A
        manipulative Southern belle carries on a turbulent affair with a blockade
        runner during the American Civil War.","total_summaries":4},"quote":{"lines":[{"stage":"first
        lines"},{"quote":"What do we care if we *were* expelled from college, Scarlett?
        The war is gonna start any day now, so we''d have left college anyhow. ","chars":[{"nconst":"nm0186347","char":"Brent
        Tarleton"}]},{"quote":"War! Isn''t it exciting, Scarlett? You know those fool
        Yankees actually *want* a war? ","chars":[{"nconst":"nm0001660","char":"Stuart
        Tarleton"}]},{"quote":"We''ll show ''em! ","chars":[{"nconst":"nm0186347","char":"Brent
        Tarleton"}]},{"quote":"Fiddle-dee-dee! War, war, war; this war talk''s spoiling
        all the fun at every party this spring. I get so bored I could scream. Besides...
        there isn''t going to be any war. ","chars":[{"nconst":"nm0000046","char":"Scarlett"}]},{"quote":"Not
        going to be any war? ","chars":[{"nconst":"nm0186347","char":"Brent Tarleton"}]},{"quote":"Why,
        honey, of course there''s gonna be a war. ","chars":[{"nconst":"nm0001660","char":"Stuart
        Tarleton"}]},{"quote":"If either of you boys says \"war\" just once again,
        I''ll go in the house and slam the door. ","chars":[{"nconst":"nm0000046","char":"Scarlett"}]},{"quote":"But
        Scarlett, honey... ","chars":[{"nconst":"nm0186347","char":"Brent Tarleton"}]},{"quote":"Don''t
        you *want* us to have a war? ","chars":[{"nconst":"nm0001660","char":"Stuart
        Tarleton"}]},{"stage":"..."}],"qconst":"qt0482211"},"can_rate":true,"trailer":{"encodings":{"H.264
        480x270":{"format":"H.264 480x270","url":"http://www.totaleclips.com/Player/Bounce.aspx?eclipid=e134331&bitrateid=461&vendorid=102&type=.mp4"},"H.264
        640x360":{"format":"H.264 640x360","url":"http://www.totaleclips.com/Player/Bounce.aspx?eclipid=e134331&bitrateid=472&vendorid=102&type=.mp4"}},"description":"Trailer
        for Gone with the Wind","relatedTitle":{"title":"Gone with the Wind","type":"feature","title_id":"tt0031381","year":"1939","image":{"width":854,"url":"http://ia.media-imdb.com/images/M/MV5BNDUwMjAxNTU1MF5BMl5BanBnXkFtZTgwMzg4NzMxMDE@._V1_.jpg","height":1330}},"duration_seconds":115,"slates":[{"width":266,"url":"http://ia.media-imdb.com/images/M/MV5BMjMwMTQyNTU5Ml5BMl5BanBnXkFtZTgwOTM3MDQ3MjE@._V1_.jpg","height":200}],"content_type":"Trailer","relatedName":{"nconst":"nm0574335","name":"Butterfly
        McQueen","image":{"width":1758,"url":"http://ia.media-imdb.com/images/M/MV5BOTQzNzg3OTA2NV5BMl5BanBnXkFtZTcwMzc3MTMxOA@@._V1_.jpg","height":2048}},"id":"vi581873433","title":"Gone
        with the Wind: 75th Anniversary Ultimate Collector''s Edition","@type":"mobile.media.video"},"release_date":{"normal":"1940-01-17"},"trivium":"For
        the scene in which Scarlett escapes the burning of the Atlanta Depot, a horse
        was needed to play woebegone, an old nag on the verge of collapse. A suitable
        candidate was finally found, but weeks later, when the horse was brought to
        the set, it had gained weight and its ribs were no longer visible. There was
        no time to find a replacement, so the makeup department painted dark shadows
        on its ribs to give the appearance of malnourishment.","goof":"Near the beginning
        of the movie, the field hands were tending mature cotton plants in full bloom.
        As the movie opened in April 1861, the cotton fields would have just been
        planted with the cotton plants only beginning to emerge from the soil, with
        no blooms at all.","image":{"width":854,"url":"http://ia.media-imdb.com/images/M/MV5BNDUwMjAxNTU1MF5BMl5BanBnXkFtZTgwMzg4NzMxMDE@._V1_.jpg","height":1330},"tagline":"For
        the thousands who remember its unparalleled drama, action and romance! For
        the new thousands to whom the wonders will be revealed for the first time!
        Breathtaking spectacle, inspired acting by the greatest cast ever assembled!
        The screen''s most exciting love story! The most-talked about picture ever
        made! [reissue]","runtime":{"time":14280},"cast_summary":[{"char":"Rhett Butler
        - Visitor from Charleston","name":{"nconst":"nm0000022","name":"Clark Gable","image":{"width":346,"url":"http://ia.media-imdb.com/images/M/MV5BMjE1NDY5MjM5Ml5BMl5BanBnXkFtZTYwNTU1OTQ2._V1_.jpg","height":450}}},{"char":"Scarlett
        - Their Daughter","name":{"nconst":"nm0000046","name":"Vivien Leigh","image":{"width":306,"url":"http://ia.media-imdb.com/images/M/MV5BMTI2NTkwMTQ5NF5BMl5BanBnXkFtZTYwNDExNjI2._V1_.jpg","height":450}}},{"char":"Gerald
        O''Hara","name":{"nconst":"nm0593775","name":"Thomas Mitchell","image":{"width":864,"url":"http://ia.media-imdb.com/images/M/MV5BOTcwNjAwMDI2M15BMl5BanBnXkFtZTcwNDMyNTUwOA@@._V1_.jpg","height":1220}}},{"as":"(as
        Barbara O''Neill)","char":"Ellen - His Wife","name":{"nconst":"nm0641966","name":"Barbara
        O''Neil","image":{"width":1594,"url":"http://ia.media-imdb.com/images/M/MV5BMjMxNTUwMzU1M15BMl5BanBnXkFtZTcwNjY2ODMxOA@@._V1_.jpg","height":2048}}}],"plot":{"outline":"A
        manipulative Southern belle carries on a turbulent affair with a blockade
        runner during the American Civil War.","more":1},"news":{"channel":"tt0031381","total":1438,"sources":{"ns0044855":{"logo":"http://ia.media-imdb.com/images/M/MV5BMTYzMDgwNTg4NV5BMl5BanBnXkFtZTcwNzAzNzA3OA@@._V1.jpg","url":"http://www.rollingstone.com/","label":"Rolling
        Stone"},"ns0000159":{"logo":"http://ia.media-imdb.com/images/M/MV5BMTYxNDY1OTY0M15BMl5BanBnXkFtZTcwNjQwODYzMw@@._V1._SY140_.jpg","url":"http://www.boxofficemojo.com","label":"BoxOfficeMojo.com"},"ns0031804":{"logo":"http://ia.media-imdb.com/images/M/MV5BMTcwNjU1NzkzMl5BMl5BanBnXkFtZTcwOTUxMTg0Nw@@._V1.jpg","url":"http://www.vulture.com","label":"Vulture"}},"markup":"flat","label":"Gone
        with the Wind","limit":3,"start":0,"items":[{"source":"ns0031804","head":"Star
        Wars Has Soared Past Avatar to Become the Highest-Grossing Film in North America","id":"ni59354099","datetime":"2016-01-07T05:19:00Z"},{"source":"ns0044855","head":"''The
        Force Awakens'' Overtakes ''Avatar'' as Domestic Box Office King","id":"ni59353564","datetime":"2016-01-07T01:56:00Z"},{"source":"ns0000159","head":"''Star
        Wars: Force Awakens'' Becomes Highest Grossing Domestic Release of All-Time","id":"ni59356977","datetime":"2016-01-07T00:45:00Z"}],"@type":"mobile.news.list"},"type":"feature","title":"Gone
        with the Wind","year":"1939"},"copyright":"For use only by clients authorized
        in writing by IMDb.  Authors and users of unauthorized clients accept full
        legal exposure/liability for their actions."}'
  recorded_at: Tue, 12 Jan 2016 05:02:08 GMT
recorded_with: VCR 3.0.1
