<body>

  <div> <div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag "herzog.jpg"%>
        <div class="caption center-align">
          <h3>W00t!  Post-Expressionism!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <%= image_tag "dlm.jpg"%>
        <div class="caption left-align">
          <h3>This guy is really annoying about pot!</h3>
          <h5 class="light grey-text text-lighten-3">but boy does he know movies!</h5>
        </div>
      </li>
      <li>
        <%= image_tag "kubrik.jpg"%>>
        <div class="caption right-align">
          <h3>What a God!</h3>
          <h5 class="light grey-text text-lighten-3">He tortured actors!</h5>
        </div>
      </li>
    </ul>
  </div></div>

<div class="container">


  <div class="row">
    <div class="col s1"></div>
    <div class="col s10">Latest Mini</div>
    <div class="col s1"></div>
  </div>

</div>
</body>
